.container {
  margin: 0;
  background-image: linear-gradient(to bottom, #015eea, #00c0fa);
}
.ion-text-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatarPhoto {
  border: 2px solid white;
  margin: 0 auto;
}

.icon-button{
  margin : 1em;
}
