<ion-card class="Rectangle">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
        </div>
      </ion-col>
      <ion-col>
        <div class="center">
          <ion-avatar class="center">
            <img class="Avatar"
              [src]="profileSelected.photoURL ? profileSelected.photoURL : 'assets/images/icon/ico_user_placeholder.svg'" />
          </ion-avatar>
        </div>
      </ion-col>
      <ion-col>
        <div>
        </div>
      </ion-col>
    </ion-row>
    
  </ion-grid>
  <ion-card-title class="ion-text-center" style="margin-top: 10px;">
    <ion-text class="HelpTitle">{{profileSelected.name}} {{'TAB1_PAGE.HELP' | translate}}</ion-text>
  </ion-card-title>
  <div class="ion-text-center" style="margin-top: 20px;">
    <ion-label *ngFor="let entry of getActiveRoles()" class="role-type-label"
      [style.background-color]="getColorFromRoleType(entry.type)">
      <ion-text class="role-type-text">{{('TAB1_PAGE.ROLE_TYPE.' + entry.type) | translate}}</ion-text>
    </ion-label>
  </div>
  <ion-card-subtitle class="ion-text-center" style="margin-top: 20px;">
    <ion-text class="address">{{profileSelected.address}}</ion-text>
  </ion-card-subtitle>

  <ion-row style="margin-top: 20px;">
    <ion-col> 
      <div class="center">
        <ion-fab-button class="Oval" [disabled]="!profileSelected.skypeId" color="light">
          <!--<ion-img class="card-action-button" src="assets/images/icon/ico_skype.svg"></ion-img>-->S
        </ion-fab-button>
      </div>
    </ion-col>
    <ion-col>
      <div class="center">
        <ion-fab-button class="Oval center" [disabled]="!profileSelected.phone" color="light">
          <ion-img class="card-action-button" src="assets/images/icon/ico_telephone.svg"></ion-img>
        </ion-fab-button>
      </div>
    </ion-col>
    <ion-col>
      <div class="center">
        <ion-fab-button class="Oval center" (onclick)="callProfile()" color="light">
          <ion-img class="card-action-button" src="assets/images/icon/ico_info_cards_helperinfo.svg"></ion-img>
        </ion-fab-button>
      </div>
    </ion-col>
  </ion-row>
</ion-card>