<ion-card class="Rectangle">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
        </div>
      </ion-col>
      <ion-col>
        <div class="center">
          <ion-avatar>
            <img class="Avatar"
              [src]="profileSelected.photoURL ? profileSelected.photoURL : 'assets/images/placeholder.jpg'" />
          </ion-avatar>
        </div>
      </ion-col>
      <ion-col>
        <div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card-title class="ion-text-center" style="margin-top: 10px;">
    <ion-text class="HelpTitle">{{profileSelected.name}} {{'TAB1_PAGE.HELP' | translate}}</ion-text>
  </ion-card-title>
  <div class="ion-text-center" style="margin-top: 20px;">
    <ion-label *ngFor="let entry of getActiveRoles()" class="role-type-label"
      [style.background-color]="getColorFromRoleType(entry.type)">
      <ion-text class="role-type-text">{{('TAB1_PAGE.ROLE_TYPE.' + entry.type) | translate}}</ion-text>
    </ion-label>
  </div>
  <ion-card-subtitle class="ion-text-center" style="margin-top: 20px;">
    <ion-text class="address">{{profileSelected.address}}</ion-text>
  </ion-card-subtitle>
  <div class="ion-text-center" style="margin-top: 20px;">
    <ion-fab-button [disabled]="!profileSelected.skypeId" color="danger">Skype</ion-fab-button>
    <ion-fab-button [disabled]="!profileSelected.phone" color="danger">Phone</ion-fab-button>
    <ion-fab-button (onclick)="callProfile()" color="danger">Info</ion-fab-button>
  </div>
</ion-card>