.container {
  margin: 0;
  background-image: linear-gradient(to bottom, #015eea, #00c0fa);
}
.ion-text-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatarContainer {
  padding-top: 2em;
}
.roleContainer {
  padding-top: 2em;
}
.roleChip {
  border-radius: 0px;
  font-weight: bold;
  color: white;
}

.buttonsContainer {
  padding-top: 2em;
}
.avatarPhoto {
  border: 2px solid white;
  margin: 0 auto;
  width: 60px;
  height: 60px;
}
.icon-button {
  margin: 1em;
}
.button {
  width: 60px;
  height: 60px;
}
