<ion-content>
  <ion-item class="filter-header">
    <h3 class="title-header">{{ 'FILTER_PAGE.FILTER_BY' | translate }}</h3>
  </ion-item>

  <div id="availability-list">
    <h2 class="filter-label">{{ 'FILTER_PAGE.AVAILABILITY' | translate }}</h2>
    <ng-container *ngFor="let type of availabilityFilterList" >
      <ion-chip *ngIf="type == availabilityFilter" class="availabilityChip selectedChip">
        {{ 'COMMON.AVAILABILITY_TYPES.' + type.toUpperCase() | translate }}
      </ion-chip>
      <ion-chip *ngIf="type != availabilityFilter" class="availabilityChip" (click)="onChangeAvailability(type)">
        {{ 'COMMON.AVAILABILITY_TYPES.' + type.toUpperCase() | translate }}
      </ion-chip>
    </ng-container>
  </div>

  <div class="distance-group">
    <h2 class="filter-label">{{ 'FILTER_PAGE.DISTANCE' | translate }}</h2>
    <span *ngIf="distanceFilter <= 10" class="distance-filter">{{ distanceFilter }}{{ 'COMMON.UNIT_DISTANCE_K' | translate }}</span>
    <span *ngIf="distanceFilter > 10" class="distance-filter">∞</span>
    <ion-item (ionChange)="onChangeDistance()" class="distance-range">
      <ion-range [(ngModel)]="distanceFilter" min="0" max="15" step="5" class="distance-range-selector"></ion-range>
    </ion-item>
  </div>

  <div class="button-group">
    <ion-button id="resetButton" color="contrast" size="large" (click)="resetFilters()">{{ 'COMMON.RESET_BUTTON' | translate }}</ion-button>
    <ion-button id="applyButton" color="primary" size="large" (click)="closeModal()">{{ 'COMMON.APPLY_BUTTON' | translate }}</ion-button>
  </div>
  
</ion-content>


