<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text"
        #email
        required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"
        #password
        required></ion-input>
    </ion-item>

    <!-- <ion-list>
      <ion-item *ngFor="let entry of formHelper">
        <ion-label>{{entry.val}}</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
      </ion-item>
    </ion-list> -->

    <ion-row>
      <ion-col>
        <ion-button type="submit"
          (click)="signUp(email, password)"
          expand="block">Register</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>