ion-content ion-toolbar {
  --background: translucent;
  
}

agm-map {
  height: 100%;
}

agm-map {
  .gm-svpc {
    display: none;
  }
}

.avatarPhotoContainer{
  margin-top: 1em;
  margin-right: 1em;
}

.avatarPhoto{
  border: 4px solid white;
}

.status-grid {
  background-color: black;
  color: white;
}