<app-avatar [showWelcomeToast]="true"></app-avatar>

<ion-content [fullscreen]="true">

  <agm-map class="map-custom"
    [hidden]="hiddenMap"
    #AgmMap
    (mapReady)="mapReady($event)"
    [latitude]="lat"
    [longitude]="lng"
    [usePanning]="true"
    [zoom]="12"
    (mapClick)="closeCard()"
    [disableDefaultUI]="false">


    <agm-marker-cluster #makerCluster
      [styles]='clusterStyles'>
      <agm-marker *ngFor="let p of activeProfile"
        [latitude]="p.position.lat"
        [longitude]="p.position.lng"
        [agmFitBounds]="true"
        [markerDraggable]=false
        [opacity]="getOpacity(p)"
        [iconUrl]="icon"
        (markerClick)="openCardHelper(p)">
      </agm-marker>
    </agm-marker-cluster>
  </agm-map>

</ion-content>