<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <h3>{{ 'FILTER_PAGE.FILTER_BY' | translate }}</h3>
  </ion-item>
  <div>
    <span *ngIf="distanceFilter <= 10" class="distance-filter">{{ distanceFilter }}{{ 'COMMON.UNIT_DISTANCE_K' | translate }}</span>
    <span *ngIf="distanceFilter > 10" class="distance-filter">∞</span>
    <h2 class="filter-label">{{ 'FILTER_PAGE.DISTANCE' | translate }}</h2>
  </div>
  <ion-item (ionChange)="onChangeDistance()">
    <ion-range [(ngModel)]="distanceFilter" min="0" max="15" step="5"></ion-range>
  </ion-item>
  <h2 class="filter-label">{{ 'FILTER_PAGE.AVAILABILITY' | translate }}</h2>
  <ion-item (ionChange)="onChangeAvailability()">
    <ion-chip class="availabilityChip">{{ 'CARDS_PAGE.ALL_TIME' | translate }}</ion-chip>
  </ion-item>

  <div class="button-group">
    <ion-button id="resetButton" color="medium" size="large" (click)="resetFilters()">Reset</ion-button>
    <ion-button id="applyButton" color="primary" size="large" (click)="closeModal()">Apply</ion-button>
  </div>
  
</ion-content>
