<ion-header>
  <ion-toolbar>
    <ion-title>filter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>{{ 'CARDS_PAGE.FILTERS.DISTANCE_FILTER' | translate }}</ion-label>
    <ion-select [(ngModel)]="distanceFilter" value="brown" [value]="5"
    okText="{{ 'COMMON.OK_BUTTON' | translate }}"
    cancelText="{{ 'COMMON.CANCEL_BUTTON' | translate }}">
      <ion-select-option value="1">1{{ 'COMMON.UNIT_DISTANCE' | translate }}</ion-select-option>
      <ion-select-option value="5">5{{ 'COMMON.UNIT_DISTANCE' | translate }}</ion-select-option>
      <ion-select-option value="10">10{{ 'COMMON.UNIT_DISTANCE' | translate }}</ion-select-option>
      <ion-select-option value="9999">{{ 'CARDS_PAGE.FILTERS.NO_DISTANCE' | translate }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-button size="small" [color]="foodFilter ? 'primary' : 'light'">{{ 'COMMON.ACTIVITY_TYPES.FOOD' | translate }}</ion-button>
    <ion-button size="small" [color]="pharmacyFilter ? 'primary' : 'light'">{{ 'COMMON.ACTIVITY_TYPES.PHARMACY' | translate }}</ion-button>
  </ion-item>
  
</ion-content>
