<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign in User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text"
        #email
        required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"
        #password
        required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit"
          (click)="logIn(email, password)"
          expand="block">Login</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <form>
    <ion-row>
      <ion-col>
        <ion-button type="submit"
          color="danger"
          (click)="authService.GoogleAuth()"
          expand="block">
          Login with Google
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>