/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./theme/custom-light-variables";

/* Move to UI theme */

.map-modal-card .modal-wrapper {
  height: 45%;
  top: 55%;
  position: absolute;
  display: block;
  background: transparent;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  -webkit-box-shadow: 1px -11px 28px -10px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 1px -11px 28px -10px rgba(0, 0, 0, 0.68);
  box-shadow: 1px -11px 28px -10px rgba(0, 0, 0, 0.68);
}

.ui-button {
  --background: #ffffff73;
  --border-radius: 27.5px;
  --color: var(--dark-slate-blue);
  font-weight: bold;
}

.ui-button-green {
  --color: #ffffff;
  --background: #6dd400;
  font-weight: bold;
}

.ui-button-delete {
  --color: #b20000;
  font-family: Montserrat;
  font-weight: 500;
}
