.page {
  --padding-start: 2em;
  --padding-end: 2em;
}

.logo {
  max-width: 30vw;
  height: 30vw;
}

.title {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.description {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.buttonsContainer {
  margin-top: 2em;
  .facebook {
    --background: var(--dusky-blue);
  }
  .google {
    --background: var(--faded-red);
  }
}

.buttonsContainer ion-button {
  --border-radius: 27.5px;
  margin-top: 2em;
  font-weight: bold;
}
