<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>

  <agm-map #AgmMap
    (mapReady)="mapReady($event)"
    [latitude]="lat" 
    [longitude]="lng"
    [usePanning]="true"
    [zoom]="12"
    [disableDefaultUI]="false">

    <ion-button id="Profile" (click)="goToProfile()">PROFILO</ion-button>
    <agm-marker *ngFor="let p of activeProfile"
      [latitude]="p.position.lat"
      [longitude]="p.position.lng"
      [agmFitBounds]="true"
      [markerDraggable]=false></agm-marker>
  </agm-map>


  <!--<ion-button (click)="goToProfile()">PROFILO</ion-button>-->
</ion-content>