
.main-container {
  background: linear-gradient(white, cyan);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 100%;
  padding-top: 5px;
  padding-bottom: 2px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  zoom: 190%;
  transform: translate(0px, -2px);
}
