
.main-container {
    background: linear-gradient(white, cyan);
    border-radius: 100%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

.main-fab {
    bottom: 28px;
}

.main-icon {
    zoom: 150%;
}