<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="list">
      <ion-icon name="list" class="icon"></ion-icon>
    </ion-tab-button>

    <ion-tab-button [disabled]=true> </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings" class="icon"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

<ion-fab class="main-fab"
  horizontal="center"
  vertical="bottom"
  edge>
  <ion-fab-button color="transparent"
    class="main-container"
    (click)="onMainClick()">
    <ion-icon class="main-icon"
      src='assets/images/icon/ico_main_cta.svg'></ion-icon>
  </ion-fab-button>
</ion-fab>