<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Verifica Email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <h2>Verify Email</h2>
      <p>
        Please check your email and click on the link to verfiy your email address.
      </p>
      <ion-button type="submit"
        (click)="authService.SendVerificationMail()"
        expand="block">
        Resend Verification Email
      </ion-button>
    </ion-row>
  </ion-grid>

  <ion-row>
    <ion-col>
      <ion-button type="submit"
        (click)="goToLogin(email, password)"
        expand="block">Login</ion-button>
    </ion-col>
  </ion-row>
</ion-content>