<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <div id="pageTitle">{{ 'CARDS_PAGE.TITLE' | translate }}</div>
  </ion-toolbar>
</ion-header>

<ion-avatar *ngIf="user" id="userProfile" slot="end" (click)="goToProfile()">
  <img *ngIf="user.photoURL" src="{{user.photoURL}}">
  <img *ngIf="!user.photoURL" src="assets/images/icon/ico_user_placeholder.svg">
</ion-avatar>

<ion-content color="light-shade" [fullscreen]="true">
  <div id="content">
    <ion-item lines="none">
      <ion-chip class="filterChip" slot="start">{{ 'COMMON.AVAILABILITY_TYPES.' + availabilityFilter.toUpperCase() | translate }}</ion-chip>
      <ion-chip *ngIf="distanceFilter !== 9999" class="filterChip" slot="start">{{ distanceFilter / 1000 }}{{ 'COMMON.UNIT_DISTANCE' | translate }} </ion-chip>
      <ion-chip *ngIf="distanceFilter == 9999" class="filterChip" slot="start">{{ 'CARDS_PAGE.NO_DISTANCE_LIMIT' | translate }} </ion-chip>
      <ion-icon slot="end" src="assets/images/icon/ico_filter.svg" (click)="openFilterModal()"></ion-icon>
    </ion-item>

    <ion-list id="cards-list">
      <ion-card *ngFor="let profile of activeProfiles"> 
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <img *ngIf="!profile.photoURL" class="userAvatar" src="assets/images/icon/ico_user_placeholder.svg">
              <img *ngIf="profile.photoURL" class="userAvatar" src="{{profile.photoURL}}">
            </ion-col>
            <ion-col size="7">
              <ion-row class="userName">{{ profile.name }}</ion-row>
              <ion-row *ngIf="profile.position">{{ 'CARDS_PAGE.NEAR_YOU' | translate:{distance: computeRoundDistance(profile.position)} }}</ion-row>
              <ion-row>
                <ion-chip class="capability" *ngFor="let role of profile.capabilities"> 
                  <ion-label>{{ 'COMMON.ACTIVITY_TYPES.' + role.type.toUpperCase() | translate }}</ion-label>
                </ion-chip>
              </ion-row>
            </ion-col>
            <ion-col size="2">
              <ion-icon class="userInfo" src="assets/images/icon/ico_contact.svg"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
