ion-toolbar {
  --background: var(--ion-color-primary);
  background: var(--ion-color-primary);
  color: white;
  height: 23vw;
  --min-height: 23vw;
}

.pageTitle {
  font-size: 6vw;
  font-weight: 700;
  position: fixed;
  bottom: 14px;
  font-family: Montserrat;
}

.filterChip {
  color: var(--ion-color-primary-contrast);
  font-weight: 600;
  background-color: var(--ion-color-primary);
  height: 6vw;
}

.cards-list {
  background-color: var(--ion-color-light-shade) !important;
  padding-bottom: 60px;
}

.card-item {
  margin: 15px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#content {
  height: 100%;
  background-color: var(--ion-color-light-shade) !important;
}
