:host {

	ion-toolbar {
    --background: var(--ion-color-primary);
    background: var(--ion-color-primary);
    color: white;
    height: 30vw;
  }

  #pageTitle {
    font-size: 7vw;
    font-weight: 700;
    padding-top: 18vw;
    padding-left: 3vw;
  }

  #userProfile {
    border: solid var(--ion-color-light);
    position: fixed;
    height: 12vw;
    width: 12vw;
    top: 10vw;
    right: 5vw;
    z-index: 9999;
  }

  .filterChip {
    color: var(--ion-color-primary-contrast);
    font-weight: 600;
    background-color: var(--ion-color-primary);
    height: 6vw;
  }

  .capability {
    height: 5vw;
  }

  .userAvatar {
    border-radius: 4vw;
    padding: 2vw;
  }

  .userInfo {
    height: 100%;
    width: 100%;
    display: block;
  }
s
  .userName {
    font-size: 6vw;
  }

  #cards-list {
    background-color: var(--ion-color-light-shade) !important;
  }

  #content {
    height: 100%;
    background-color: var(--ion-color-light-shade) !important;
  }
  
}