.container {
  // height: 7.5em;
  margin: 0.9375rem;
}

.grid-container {
  padding: 0;
}

ion-col {
  padding: 0;
}

.roleContainer {
  margin-left: 0.9375rem;
}
.roleChip {
  font-size: 0.5625rem;
  border-radius: 0;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  height: 0.8125rem;
  width: 4.0625rem;
  margin: 0 0.3125rem 0 0;
  display: flex;
  justify-content: center;
}

.userName {
  margin-left: 0.9375rem;
  font-size: 1.125rem;
  line-height: 1.125rem;
  font-weight: 600;
  font-family: Montserrat;
  color: black;
}

.userAvatar {
  border-radius: 0.5rem;
  height: 3.1875rem;
  width: 3.1875rem;
  //   padding: 2vw;
}

.nearYou {
  margin-left: 0.9375rem;
  padding: 0.1875rem 0;
  font-size: 0.625rem;
  font-weight: 400;
  font-family: Montserrat;
  color: black;
}

.distance {
  font-size: 0.625rem;
  font-weight: 600;
  font-family: Montserrat;
  color: black;
  padding: 0;
}

p {
  margin: 0;
  //padding-top: 0.2em;
  //padding-bottom: 0.2em;
}

.scrollCapability {
  overflow-x: scroll !important;
  overflow-y: hidden;
  word-wrap: break-word;
  height: 20vw;
  font-size: 0.8em;
  font-weight: 300;
}

.userInfo {
  height: 2.1875rem;
  width: 2.1875rem;
  display: block;
  color: black;
  margin: 0 0 0 auto;
}

