.registrazione-card {

    overflow-y: auto;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;

    ion-card-content {
        padding-left: 0;
    }

    .width-30 {
        width: 30vw;
    }

    .list-full {
        width: 100%;
        margin-bottom: 10px;
    }

    .button {
        padding-left: 20px;
        margin: auto;
        margin-bottom: 5px;
    }

    ion-segment {
        margin-bottom: 20px;
    }

    .important-statement {
        text-transform: uppercase;
        font-weight: 600;
        padding: 0;
    }
}

.container {
    height: 100vh;
    display: flex;
    background-color: rgb(231, 240, 253);
}

.dark-background {
    background-color: #000000;
}