.header{
    margin:2vw;
}
.container {
    overflow-y: auto;
    height: 100vh;
    margin: 2vw;

   ion-item {
       margin-top: 3vh;
       --background: transparent;
       --color: white;
       --border-color:white;   
   }
    .width-30 {
        width: 30vw;
    }

    .button {
        padding-left: 20px;
        margin: auto;
        margin-bottom: 5px;
    }

    ion-segment {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .segment-container {
        width: 106%;
    }

    .important-statement {
        text-transform: uppercase;
        font-weight: 600;
        padding: 0;
    }
}
