<div class="app-background page">
  <ion-grid>
    <ion-row>
      <object data="assets/images/logo_no_claim.svg" type="image/svg+xml" class="logo">
        <img src="assets/images/fallback-logo_no_claim.png" class="logo" />
      </object>
    </ion-row>
    <ion-row>
      <div [innerHTML]="'LOGIN_PAGE.TITLE' | translate" class="title"></div>
    </ion-row>
    <ion-row>
      <p class="description">
        {{ "LOGIN_PAGE.DESCR" | translate }}
      </p>
    </ion-row>
    <ion-row class="buttonsContainer">
      <ion-col>
        <ion-button expand="block" [disabled]="true">{{ "LOGIN_PAGE.SIGN_IN_FACEBOOK" | translate }}</ion-button>
        <ion-button expand="block" (click)="loginWithSocial()">
          {{ "LOGIN_PAGE.SIGN_IN_GOOGLE" | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
