.main-background {
  height: 100vh;
  display: flex;

  img {
    max-width: 30vw;
    height: 30vw;
    position: fixed;
    top: 3vh;
    margin-left: 8vw;
  }

  .main-text {
    margin-top: calc(4vh + 30vw);
    padding: 0 8vw;
    color: white;
    h1 {
      font-size: 12vw;
    }
    .description-text {
      margin-top: 1vh;
      font-size: 18px;
      overflow-y: auto;
      height: 30vh;
    }
  }

  .buttons {
    display: flex;
    position: fixed;
    bottom: 10vh;
    height: 17vh;
    width: 100%;
    flex-flow: wrap;
    padding: 0 8vw;

    round-button {
      width: 100%;
      margin: auto;
    }
  }
}