<ion-content>
  <div class="container" [ngClass]="{'dark-background': isDarkMode}">
    <div class="card-container">
      <h1>{{ 'LOGIN_PAGE.TITLE' | translate }}</h1>

      <!--TODO: FACEBOOK AUTH-->
      <ion-card (click)="loginWithSocial()">
        <ion-item lines="none">
          <ion-icon class="facebook" name="logo-facebook"></ion-icon>
          <ion-text>{{'LOGIN_PAGE.SIGN_IN_FACEBOOK' | translate}}</ion-text>
        </ion-item>
      </ion-card>
      <ion-card (click)="loginWithSocial()">
        <ion-item lines="none">
          <ion-icon class="google" name="logo-google"></ion-icon>
          <ion-text>{{ 'LOGIN_PAGE.SIGN_IN_GOOGLE' | translate }}</ion-text>
        </ion-item>
      </ion-card>
    </div>
  </div>
</ion-content>
