.container {
    height: 100vh;
    display: flex;
    background-color: rgb(231, 240, 253);
}

.card-container {
    margin: auto;
    h1 {
        text-align: center;
        margin-bottom: 40px;
        text-transform: capitalize;
    }
    ion-card {
        margin-bottom: 10px;
        ion-item {
            padding: 10px 15px;
        }
    }
}

.dark-background {
    background-color: #000000;
}