<div class="main-background app-background">
  <ion-img src="assets/images/logo_no_claim.svg"></ion-img>
  <div class="main-text">
    <h1 [innerHTML]="'LOGIN_PAGE.TITLE' | translate"></h1>
    <div class="description-text">
      {{ "LOGIN_PAGE.DESCR" | translate }}
    </div>
  </div>
  <div class="buttons">
    <round-button [color]="'blue'">{{ "LOGIN_PAGE.SIGN_IN_FACEBOOK" | translate }}</round-button>
    <round-button [color]="'red'"
      (click)="loginWithSocial()">{{ "LOGIN_PAGE.SIGN_IN_GOOGLE" | translate }}</round-button>
  </div>
</div>