.container {
    display: flex;
    height: 100vh;
    background-color: rgb(231, 240, 253);

    .card {
        margin: auto;

        .button {
            width: 100%;
        }
    }
}

.dark-background {
    background-color: #000000;
}