<ion-grid class="container">
  <ion-row size="12" class="avatarContainer ion-justify-content-center">
    <ion-col>
      <ion-avatar class="avatarPhoto ion-justify-content-center">
        <img
          [src]="profileSelected.photoURL ? profileSelected.photoURL : 'assets/images/icon/ico_user_placeholder.svg'" />
      </ion-avatar>
    </ion-col>
  </ion-row>
  <ion-row size="12" class="nameContainer ion-justify-content-center">
    <ion-label class="name">{{profileSelected.name}}</ion-label>
  </ion-row>
  <ion-row size="12" class="roleContainer ion-justify-content-center">
    <ion-chip *ngFor="let role of getActiveRoles()" [style.background-color]="getColorFromRoleType(role.type)" class="roleChip">
      <ion-label>{{ 'COMMON.ACTIVITY_TYPES.' + role.type.toUpperCase() | translate }}</ion-label>
    </ion-chip>
  </ion-row>
  <ion-row size="12" class="addressContainer ion-justify-content-center ">
    <ion-text class="address">{{profileSelected.address}}</ion-text>
  </ion-row>
  <ion-row class="buttonsContainer">
    <ion-col>
      <div class="ion-text-center">
        <ion-fab-button class="button" [disabled]="!profileSelected.skypeId" color="light"
          href="skype:{{profileSelected.skypeId}}?chat">
          <ion-img src="assets/images/icon/ico_skype.svg" class="icon-button"></ion-img>
        </ion-fab-button>
      </div>
    </ion-col>
    <ion-col>
      <div class="ion-text-center">
        <ion-fab-button class="button" [disabled]="!profileSelected.phone" color="light"
          href="tel:{{profileSelected.phone}}:chat">
          <ion-img src="assets/images/icon/ico_phone.svg" class="icon-button"></ion-img>
        </ion-fab-button>
      </div>
    </ion-col>
    <ion-col>
      <div class="ion-text-center">
        <ion-fab-button class="button" [disabled]="true" color="light">
          <ion-img src="assets/images/icon/ico_info_card.svg" class="icon-button"></ion-img>
        </ion-fab-button>
      </div>
    </ion-col>
  </ion-row>

</ion-grid>